@{
    ViewData["Title"] = "About App Service";
    ViewData["Message"] = "Build, deploy, and scale web apps on a fully managed platform";
}
<h2>@ViewData["Title"]</h2>
<h3>@ViewData["Message"]</h3>


<div style="display:inline-flex">
    <img src="/images/WebApp.svg" width="100px">
    <div style="width: 80%; min-width: 320px; padding-left: 10px; margin-top: auto; margin-bottom: auto;">
        <p>
            Quickly build, deploy, and scale web apps created with popular frameworks 
            .NET, .NET Core, Node.js, Java, PHP, Ruby, or Python, in containers or 
            running on any operating system. Meet rigorous, enterprise-grade 
            performance, security, and compliance requirements by using the fully 
            managed platform for your operational and monitoring tasks.
            <a href="https://azure.microsoft.com/services/app-service/">Learn more.</a>
        </p>
    </div>

</div>

